    <label class="row">
      Project Address:
      <input name="content[address]" required="true" type="text" value="{{marine_estimate_request.address}}">
      <input name="content[city]" required="true" type="text" value="{{marine_estimate_request.city}}">
      <select name="content[state]" required="true">
        <option value="" selected="selected">- Select -</option>
        <option value="IL">Illinois</option>
        <option value="IN">Indiana</option>
        <option value="MI">Michigan</option>
        <option value="OH">Ohio</option>
      </select>
      <input name="content[zip]" required="true" type="text" value="{{marine_estimate_request.zip}}">
    </label>
