footer {
  color: $white;
  a {
    color: $white;
  }

  .top {
    // color: $white;
    background: $black;
  }

  .bottom {
    // color: $white;
    background: $secondary-color;

    p {
      margin: 0;
      font-style: italic;
    }
  }
}
