---
title: Page not found
slug: '404'
position: 1
listed: true
published: true
is_layout: false
---
{% extends 'layouts/application' %}
{% block 'main' %}
	<div class="text-center">
		<h1>Page Not Found</h1>
		<p>We're sorry but we can't find the page you are looking for</p>
	</div>
{% endblock %}
