---
title: Page not found
slug: '404'
position: 1
listed: true
published: true
is_layout: false
---
{% extends 'layouts/application' %}
{% block 'main' %}
  {% include 'page_header' %}
  <section class="row page {{ page.slug }}">
    <div class="column medium-8 small-centered">
      <div class="callout">
        <h2 class="text-center">{% editable_text "heading", line_break: false, format: 'raw', rows: 1 %}This page is lost at sea!{% endeditable_text %}</h2>
      </div>
    </div>
  </section>
  {% include 'featured-services' %}
{% endblock %}
