---
title: About
slug: about
listed: true
published: true
is_layout: false
editable_elements:
  "main/heading": "Meet Canvas Innovations"
  "main/content": "<p>Although Canvas Innovations was founded not long ago, in June 2010, there is an extensive history of experience and knowledge associated with us. Chris Ritsema, founder and sole owner of Canvas Innovations, has been designing boat enclosures now for 30 years. Chris began his marine career in 1986 at a local company called Auto Top learning custom design with boat covers and enclosures. In 2005, after 19 years in the industry, Chris partnered with a co-worker where they started a canvas and upholstery shop, called The Nautical Needle. After five years of a partnership Chris made the decision to become the sole owner of what is now Canvas Innovations.</p>
<p>With 30 years experience directly related to the marine industry, Chris has designed many marine tops, boat enclosures, cockpit covers, dodgers, and much more. Let us bring his expertise to the table to help you design the top or cover you're looking for. </p>
<p>We offer an unlimited list of items for boats including tops, enclosures, dodgers, cockpit covers, mooring covers, bonded windows, glass replacements, carpeting, flooring, repairs, upholstery, and many other services. We not only specialize in custom work for your boating needs we offer services unrelated to the marine industry. We offer upholstery, golf cart enclosures, porch enclosures, curtains and drapery repairs and design, and furniture covers! All work is done in-house and when we occasionally sub work out, we utilize only local subcontractors in the Holland area.</p>
<p>We service the West Michigan area and although centrally located in Holland, Michigan we extend our services to a two-to-three hour commute from Chicago up to Ludington and Michigan City. We service most all local marinas in the Holland, Saugatuck, Douglas, South Haven, Muskegan, and Grand Haven areas and many others.</p>
<p>Along with years of knowledge and design experience our staff offers, we strive to learn more about the industry. We are accredited members of the Marine Fabricators Association and the Industrial Fabrics Association International. We attend regional and national trade shows to keep up with changing times offering you better products, services, and techniques.</p>
<p>We'd be delighted to offer you an estimate for your project. Several ways to do this is by email, phone, coming into our showroom, or completing out our web request form. Please try and include pictures of your boat for ALL estimates. Feel free to contact us at (616) 393-4400, email us at <a href=\"mailto:sales@canvasinnovations.us\">sales@canvasinnovations.us</a>, or stop in at our showroom.</p>
<p>Showroom office hours are Monday thru Friday 8:00 a.m. to 5:00 p.m. at 11276 East Lakewood Blvd., Holland, Michigan 49424. Thanks for visiting our site!</p>
"
---
{% extends 'layouts/page' %}
