---
title: Estimate
handle: estimate
slug: estimate
listed: true
published: true
is_layout: false
editable_elements:
  "main/heading": "We can wait to get started on your project!"
  "main/content": "When you're ready move forward with you project, this is the place to start. The more information you can give use here, the sooner we can get you an estimate. <p class='lead'>Complete the form below to get a free Estimate.</p>"
---
{% extends 'layouts/application' %}
{% block 'main' %}
  {% include 'page_header' %}
<section class="row page {{ page.slug }}">
    <div class="column medium-6">
      <div id="form-wrapper" class="callout">
        <h2 class="text-center">{% editable_text "heading", line_break: false, format: 'raw', rows: 1 %}Heading{% endeditable_text %}</h2>
        {% editable_text content %}Lorem ipsum{% endeditable_text %}
        {% include 'estimate_form' %}
        <hr>
        <strong>Testimonial: </strong>
        <div>
          {% include 'random_testimonial' %}
        </div>
      </div>
    </div>
    <div class="column medium-6">
      <div id="testimonials-wrapper" class="callout" style="height: 1200px; overflow: hidden;">
        <p class="lead"><strong>Testimonials</strong></p>
        {% include 'testimonials' %}
      </div>
    </div>
  </section>
{% endblock %}
{% block body_bottom %}
  <script type="text/javascript">
    $(function() {
      $('#testimonials-wrapper').height($('#form-wrapper').height() + 78);

      $('#contact-form').on('submit', function(e) {
        var form = $(this);
        $('.robot-warning').addClass('hide')

        if (grecaptcha.getResponse() == "") {
          e.preventDefault();
          $('.robot-warning').removeClass('hide')
        }
      });
    });
  </script>
{% endblock %}
