---
title: Home page
slug: index
position: 0
listed: true
published: true
is_layout: false
editable_elements:
  "main/heading": "West Michigan's Premier Shop for All Your Canvas and Upholstery Needs."
---
{% extends 'layouts/application' %}
{% block 'main' %}
<header style="background-image: url({{ 'header-bg.jpg' | theme_image_url | resize: '1200x400#', optimize: 90 }})">
    <div class="content row column text-center">
        <h1>
          Canvas Innovations
        </h1>
        <p>{% editable_text "heading", line_break: false, format: 'raw', rows: 1 %}Header{% endeditable_text %}</p>
        <p class="cta">
            {% include 'estimate_button' %}
        </p>
    </div>
</header>
<blockquote class="highlight">
  <p>COVID-19 - What Are We Doing Now And Why? Visit <a href="https://www.anchorrockfoundation.org/covid-19/" target="_blank">https://www.AnchorRockFoundation.org/COVID-19/</a> to find out more!</p>
  <small>Holland Sentinel Article <a href="https://www.hollandsentinel.com/news/20200419/holland-company-creates-mask-making-task-force" target="_blank">https://www.hollandsentinel.com/news/20200419/holland-company-creates-mask-making-task-force</a></small>
</blockquote>
{% include 'featured-services' %}
{% include 'standard-services' %}
<script async src='https://tag.simpli.fi/sifitag/6c7d2bd0-fe7e-0137-61fe-06659b33d47c'></script>
{% endblock %}


https://www.hollandsentinel.com/news/20200419/holland-company-creates-mask-making-task-force
