---
title: Home page
slug: index
position: 0
listed: true
published: true
is_layout: false
---
{% extends 'layouts/application' %}
{% block 'main' %}
  <div class="callout small">
    <div class="row">
      {% with_scope featured: true %}
        {% for service in contents.services %}
          <div class="columns large-4">
            <div class="card">
              <div class="card-divider">
                <a href="{% path_to service %}">{{ service.title }}</a>
              </div>
              <img src="http://via.placeholder.com/450x150">
              <div class="card-section">
                {{ service.brief }}
              </div>
            </div>
          </div>
        {% endfor %}
      {% endwith_scope %}
    </div>
  </div>
{% endblock %}
