---
title: Home page
slug: index
position: 0
listed: true
published: true
is_layout: false
editable_elements:
  "main/heading": "West Michigan's Premier Shop for All Your Canvas and Upholstery Needs."
---
{% extends 'layouts/application' %}
{% block 'main' %}
<header style="background-image: url({{ 'header-bg.jpg' | theme_image_url | resize: '1200x400#', optimize: 90 }})">
    <div class="content row column text-center">
        <h1>
          Canvas Innovations
        </h1>
        <p>{% editable_text "heading", line_break: false, format: 'raw', rows: 1 %}Header{% endeditable_text %}</p>
        <p class="cta">
            {% include 'estimate_button' %}
        </p>
    </div>
</header>
{% include 'featured-services' %}
{% include 'standard-services' %}
<script async src='https://tag.simpli.fi/sifitag/0d626630-1633-0135-d876-0cc47a63c1a4'></script>
{% endblock %}
