---
title: Home page
slug: index
position: 0
listed: true
published: true
is_layout: false
---
{% extends 'layouts/application' %}
{% block 'main' %}
  <div class="callout small">
    <div class="row">
      <div class="columns large-4">
        <div class="card">
          <div class="card-divider">
            This is a header
          </div>
          <img src="assets/img/generic/rectangle-1.jpg">
          <div class="card-section">
            <h4>This is a card.</h4>
            <p>It has an easy to override visual style, and is appropriately subdued.</p>
          </div>
        </div>
      </div>
      <div class="columns large-4">
        <div class="card">
          <div class="card-divider">
            This is a header
          </div>
          <img src="assets/img/generic/rectangle-1.jpg">
          <div class="card-section">
            <h4>This is a card.</h4>
            <p>It has an easy to override visual style, and is appropriately subdued.</p>
          </div>
        </div>
      </div>
      <div class="columns large-4">
        <div class="card">
          <div class="card-divider">
            This is a header
          </div>
          <img src="assets/img/generic/rectangle-1.jpg">
          <div class="card-section">
            <h4>This is a card.</h4>
            <p>It has an easy to override visual style, and is appropriately subdued.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
