---
title: Services
handle: services
slug: services
listed: false
published: true
is_layout: false
editable_elements:
  "main/heading": "We can wait to get started on your project!"
  "main/content": "When you're ready move forward with you project, this is the place to start. The more information you can give use here, the sooner we can get you an estimate. <p class='lead'>Complete the form below to get an Estimate.</p>"
---
{% extends 'layouts/application' %}
{% block 'main' %}
  {% include 'page_header' %}
  <section class="row page {{ page.slug }}">
    <div class="column medium-8 small-centered">
      <div class="callout">
        <h2 class="text-center">{% editable_text "heading", line_break: false, format: 'raw', rows: 1 %}Heading{% endeditable_text %}</h2>
        {% editable_text content %}Lorem ipsum{% endeditable_text %}
      </div>
    </div>
  </section>
  {% include 'featured-services' %}
  {% include 'standard-services' %}
{% endblock %}
