---
title: Testimonials
slug: testimonials
listed: true
published: true
is_layout: false
editable_elements:
  "main/heading": "Join our List of Happy Customers!"
  "main/content": "Our customers are the best, and we are honored to be able to serve them. "
---
{% extends 'layouts/page' %}
{% block 'main' %}
  {% include 'page_header' %}
  <section class="row page {{ page.slug }}">
    <div class="column medium-8 small-centered">
      <div class="callout">
        <h2 class="text-center">{% editable_text "heading", line_break: false, format: 'raw', rows: 1 %}Heading{% endeditable_text %}</h2>
        <div class="text-center">
          {% editable_text content %}Lorem ipsum{% endeditable_text %}
          <p class='thin'>
            <a href="#" class="button"><strong>Add Your Feedback</strong></a>
          </p>
        </div>
        <hr class="thin">
        {% assign testimonials = contents.testimonials.all | shuffle %}
        {% for testimonial in testimonials %}
          <p  class="callout tan">
            {{ testimonial.content }}<br>
            -- <strong>{{ testimonial.who }}</strong>
          </p>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}
