---
title: Thank You!
slug: thank-you
listed: false
published: true
is_layout: false
editable_elements:
  "main/heading": "We'll be contacting you soon!"
  "main/content": "We know you are excited to get started, while you wait, see what others have said."
---
{% extends 'layouts/page' %}
{% block 'main' %}
  {% include 'page_header' %}
  <section class="row page {{ page.slug }}">
    <div class="column medium-8 small-centered">
      <div class="callout">
        <h2 class="text-center">{% editable_text "heading", line_break: false, format: 'raw', rows: 1 %}Heading{% endeditable_text %}</h2>
        <div class="text-center">
          {% editable_text content %}Lorem ipsum{% endeditable_text %}
        </div>
        <hr class="thin">
        {% include 'testimonials' %}
      </div>
    </div>
  </section>
{% endblock %}
