---
title: Page
slug: page
position: 99
listed: false
published: true
is_layout: true
---
{% extends 'layouts/application' %}
{% block 'main' %}
  {% include 'page_header' %}
  <section class="row page {{ page.slug }}">
    <div class="column medium-8 small-centered">
      <div class="callout">
        <h2 class="text-center">{% editable_text "heading", line_break: false, format: 'raw', rows: 1 %}Heading{% endeditable_text %}</h2>
        {% editable_text content %}Lorem ipsum{% endeditable_text %}
      </div>
    </div>
  </section>
{% endblock %}
